<main>
  <div class="task-container">
    <header>
      <h1 class="active">Today's Completed Tasks</h1>
      <h1 class="inactive">Today's Task</h1>
      <span class="date">{{ formattedDate }}</span>
    </header>
    <ul class="task-list">
      <li class="task-item" *ngFor="let task of tasks">
        <input type="checkbox" class="custom-checkbox" [id]="'task' + task.taskId"
               [checked]="!task.IsCompleted" (change)="toggleTaskCompletion(task)" />
        <label [for]="'task' + task.taskId">
          <span class="checkbox-svg"></span>
          {{ task.taskName }}
        </label>
        <div class="task-detail">
          <h2>{{ task.taskName }}</h2>
          <p class="task-duration">{{ timeDuration(task.createdDate!) }}</p>
          <h3>Description</h3>
          <p>{{ task.taskDescription }}</p>
          <div class="task-actions">
            <span class="icon checkbox-icon"></span>
            <span class="icon delete-icon" (click)="openDeleteModal(task.taskId!)"></span>
          </div>
        </div>
      </li>
    </ul>
  </div>
</main>
<app-delete-confirmation-modal [isOpen]="isDeleteModalOpen" (shouldDelete)="handleDeleteConfirmation($event)"></app-delete-confirmation-modal>