main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #f0f0f0;
    background-image: url('/assets/user authentication/sign-in-background.svg');
  }
  
  p {
    font-size: 0.6875rem; 
    padding: 0.4375rem; 
    color: #FFFFFF;
  }
  
  .sign-up-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EDB046;
    padding: 3.125rem; 
    border-radius: 0.625rem; 
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1); 
    width: 40%;
    text-align: center;
  }
  
  .show-error{
    border : 2px solid red !important ;
  }
  span{
    font-size: x-small;
    color: red;
  }
  .sign-up-container h1 {
    font-size: 2.375rem; 
    color: #FFFFFF;
  }
  
  .input-group {
    margin: 0.9375rem 0; 
    text-align: left;
    width: 90%;
  }
  
  .input-group label {
    display: block;
    margin-bottom: 0.3125rem; 
    font-weight: bold;
  }
  
  .input-group input {
    font-size: 0.75rem; 
    width: 100%;
    padding: 0.5rem; 
    box-sizing: border-box;
    border: none;
    border-radius: 0.3125rem; 
    box-shadow: 0.125rem 0.125rem 0.5rem 0px #0000001a; 
    height: 2.5rem; 
  }
  
  .input-group input::placeholder {
    color: #b5b5b5;
  }
  
  .user-name {
    margin-top: 3.125rem; 
  }
  
  .sign-up-button {
    background-color: #BA5112;
    color: #FFFFFF;
    padding: 0.8125rem 0.9375rem; 
    border: none;
    border-radius: 0.3125rem; 
    cursor: pointer;
    width: 26%;
    margin-top: 1.25rem; 
  }
  
  .sign-in-link {
    margin-top: 0.9375rem; 
    display: block;
    text-decoration: none;
  }
  
  a {
    text-decoration: none;
    color: #BA5112;
    cursor: pointer;
  }
  
  .input-group {
    position: relative;
    width: 100%;
  }
  
  .show-hide {
    position: absolute;
    bottom: 10%;
    right: 5%;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 426px){
    .input-group {
      width: 80%;
      margin: 0.5375rem 0;
  }
  
  .user-name {
      margin-top: 2.125rem;
  }
  
  
  .sign-up-container{
    width: 85%;
    padding: 0.8rem;
  }
  
  .show-hide {
      bottom: 12%;
      width: 10%;
  }
  .sign-up-button {
    width: 35%;
  }
  main{
    align-items: start;
    padding: 5%;
  }
}
