.hero-container {
  position: relative;
  height: 30%;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  padding: 20px;
  margin: 2% 0% 2% 12%;
}

.text-content {
  flex: 1;
  padding: 20px;
}

.text-content h1 {
  margin: 0;
  font-size: 2.5rem;
  color: #3d3d3d;
  font-weight: 500;
}

.text-content p {
  margin: 10px 0 0;
  font-size: 1.2rem;
  color: #555555;
}

.banner-image {
  z-index: 100;
  position: absolute;
  left: 75%;
  top: 21%;
  width: 25%;
  height: auto;
  border-radius: 12px;
}

@media only screen and (max-width: 426px) {
  .text-content {
    flex: 1;
    padding: 0px;
  }
  .text-content h1 {
    font-size: 1rem;
  }

  .text-content p {
    font-size: 0.6rem;
  }

  .hero-container {
    padding: 4%;
    height: 25%;
    width: 88%;
    margin: 2% 0% 8% 6%;
  }

  .banner-image {
    left: 63%;
    top: 25%;
    width: 41%;
  }
}
