<main>
    <header class="header">
        <h1 class="app-title">To-Do App</h1>
        <div class="header-buttons">
            <button class="add-task-btn" (click)="openModal()">Add Task<img src="assets/sidebar/add-icon.svg" alt="Add button"></button>
            <button class="sign-out-btn" (click)=" signOut()">Sign Out<img src="assets/dashboard/sign out.svg" alt="Sign out button"></button>
        </div>
    </header>
    <div class="dropdown">
        <div class="dropdown-btn" (click)="toggleDropdown()">
          <a>{{ usedLink.optionName }}</a>
          <img src="assets/dashboard/down-arrow.svg" alt="down arrow">
        </div>
        <div class="dropdown-content" *ngIf="isDropdownOpen">
          <a *ngFor="let link of unUsedLink" (click)="selectOption(link)" [routerLink]="link.link">{{ link.optionName }}</a>
        </div>
      </div>
    </main>
    <app-add-task-modal [isOpen]="isModalOpen" (close)="closeModal()"></app-add-task-modal>